<%- include("partials/header"); -%>
<div class="compose-main">


  <% posts.forEach(function(post){ %>
    <h1><%=post.title%></h1>
    <p><%=post.content%></p>
    <a href="/posts/<%=post._id%>">Read More</a>
  <% }) %>
</div>
<%- include("partials/footer"); -%>
